each item in newsList
    a.materials-item(style=item.style, data-height=item.height, data-width=item.width, href="article.html")
        .materials-item__bg
            if item.image
                img.materials-item__image(src=item.image)
        .materials-item__gradient
        .materials-item__content
            .materials-item__tags
                each tag in item.tags
                    .materials-item__tag= tag
            .materials-item__title=item.title
            .materials-item__counters
                .materials-item__views=item.views
